@using System.Globalization
@using System.Web
@model MvcMovie.Services.MovieSearchTopResult

@{
    ViewData["Title"] = "Просмотр фильмов и сериалов онлайн в хорошем качестве 720p";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/swiper-bundle.min.css">
</head>
<body>

	@if ((string?)ViewData["search"] == null)
{
		<!-- Home -->
	<section class="home container" id="home">
		<!-- Home Image -->
		<img src="img/home-background.png" alt="" class="home-img"> 
		<!-- Home Text -->
		<div class="home-text">
			<h1 class="home-title">Hitman's Wife's <br>Bodyguard</h1>
			<p>Releasing 10 April</p>
			<a href="#" class="watch-btn">
				<i class='bx bx-right-arrow' ></i>
				<span>Watch the trailer</span>
			</a>
		</div>
	</section>
	<!-- Home End -->
	<!-- Pupular Section Start -->
	<section class="popular container" id="popular">
		<!-- Heading -->
		<div class="heading">
			<h2 class="heading-title">Новинки</h2>
			<!-- Swiper Buttons -->
			<div class="swiper-btn">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<!-- Content -->
		<div class="popular-content swiper">
			<div class="swiper-wrapper">
				<!-- Movies Box 1 -->
				<div class="swiper-slide">
					<div class="movie-box">
						<img src="img/popular-movie-1.jpg" alt="" class="movie-box-img">
						<div class="box-text">
							<h2 class="movie-title">Spider-Man: No Way Home</h2>
							<span class="movie-type">Action</span>
							<a href="#" class="watch-btn play-btn">
								<i class='bx bx-right-arrow' ></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Movies Box 2 -->
				<div class="swiper-slide">
					<div class="movie-box">
						<img src="img/popular-movie-2.jpg" alt="" class="movie-box-img">
						<div class="box-text">
							<h2 class="movie-title">Jungle Cruise</h2>
							<span class="movie-type">Action</span>
							<a href="#" class="watch-btn play-btn">
								<i class='bx bx-right-arrow' ></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Movies Box 3 -->
				<div class="swiper-slide">
					<div class="movie-box">
						<img src="img/popular-movie-3.jpg" alt="" class="movie-box-img">
						<div class="box-text">
							<h2 class="movie-title">Loki</h2>
							<span class="movie-type">Action</span>
							<a href="#" class="watch-btn play-btn">
								<i class='bx bx-right-arrow' ></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Movies Box 4 -->
				<div class="swiper-slide">
					<div class="movie-box">
						<img src="img/popular-movie-4.jpg" alt="" class="movie-box-img">
						<div class="box-text">
							<h2 class="movie-title">Squid Game</h2>
							<span class="movie-type">Action/Drama</span>
							<a href="#" class="watch-btn play-btn">
								<i class='bx bx-right-arrow' ></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Movies Box 5 -->
				<div class="swiper-slide">
					<div class="movie-box">
						<img src="img/popular-movie-5.jpg" alt="" class="movie-box-img">
						<div class="box-text">
							<h2 class="movie-title">The Falcon and the Winter Soldier</h2>
							<span class="movie-type">Action/Adventure</span>
							<a href="#" class="watch-btn play-btn">
								<i class='bx bx-right-arrow' ></i>
							</a>
						</div>
					</div>
				</div>

				<!-- Movies Box 6 -->
				<div class="swiper-slide">
					<div class="movie-box">
						<img src="img/popular-movie-6.jpg" alt="" class="movie-box-img">
						<div class="box-text">
							<h2 class="movie-title">Hawkeye</h2>
							<span class="movie-type">Action</span>
							<a href="#" class="watch-btn play-btn">
								<i class='bx bx-right-arrow' ></i>
							</a>
						</div>
					</div>
				</div>
			  </div>
		</div>
	</section>
	<!-- Pupular Section End -->
}

<!-- Movies Seciton Start -->
	<section class="movies container" id="movies">
		<!-- Heading -->
		<div class="heading">
			<h2 class="heading-title">@(((string?) ViewData["search"]) is string query ? $"Результаты поиска: {HttpUtility.HtmlEncode(query)}" : "Топ фильмов и сериалов") </h2>
		</div>
		<!-- Movies Content -->
		<div class="movies-content">
			@foreach (var movie in Model.films)
			{
				if (@movie.rating != "null")
				{
					<!-- Movies Box -->
					<div class="movie-box">
						<img src="@movie.posterUrlPreview" alt="" class="movie-box-img">
						<div class="box-text">
							<!--rating--->
						<div class="movie-rating">

							<div class="movie-rating-text">
								@if (@movie.rating.Contains("%"))
									{
										<p> <span>Рейтинг:</span>
										@{
											var rating = float.Parse(@movie.rating.Substring(0, movie.rating.Length - 1), CultureInfo.InvariantCulture);
											@string.Format(CultureInfo.InvariantCulture, "{0:0.0}", MathF.Round(rating * 10) / 10 / 10)
										}
										</p>
									}
									else
									{
										<p> <span>Рейтинг:</span> @movie.rating</p>
									}
							</div>
						
						</div>
							<h2 class="movie-title">@movie.nameRu</h2>
							<span class="movie-type">
								@string.Join(", ", movie.genres?.Select(e => e.genre)?.Take(2) ?? Array.Empty<string>())
							</span>
							<a href="/movie/@movie.filmId" class="watch-btn play-btn">
								<i class='bx bx-right-arrow'></i>
							</a>
						</div>
					</div>
				}
				
				
				
			}
		</div>
	</section>
	<!-- Movies Seciton End -->

	<!-- Link Swiper JS -->
	<script src="js/swiper-bundle.min.js"></script>
	<!-- Link to JS -->
	<script src="js/main.js"></script>

</body>
</html>