@using MvcMovie.Services
@model MvcMovie.Services.MovieInfo

@{
    ViewData["Title"] = Model.nameRu + " смотреть онлайн в хорошем качестве 720p";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<!-- Link to CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <!-- Box Icons -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
</head>
<body>
<!-- Play Movie Container -->
    <div class="play-container container">
        <!-- Play Image -->
        <img src="@Model.posterUrl" alt="" class="play-img">
        <!-- Play Text -->
        <div class="play-text">
            <h2>@Model.nameRu</h2>
            <!-- Ratings -->
            <div class="rating">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <!-- Tags -->
            <div class="tags">
                <span style="text-transform: capitalize">
                    @string.Join(", ", Model.genres?.Select(e => e.genre)?.Take(2) ?? Array.Empty<string>())
                    </span>
                <span>720p</span>
            </div>
            <!-- Trailer Button -->
            <a href="#">
                <i class='bx bx-right-arrow play-btn' ></i>
                <span>Смотреть трейлер</span>
            </a>
        </div>
        <!-- Video Container -->
        <div class="video-container">
            <!-- Video-Box -->
            <div class="video-box">
                <video id="myvideo" src="play-page/Jumanji.mp4" controls></video>
                <!-- Close Video Icon -->
                <i class='bx bx-x close-video' ></i>
            </div>
        </div>
    </div>
    <!-- About -->
    <div class="about-movie container">
        <h2>@Model.nameRu</h2>
        <p>@Model.description</p>
        <!-- Movie Cast -->
        <h2 class="cast-heading">Актёры фильма:</h2>
        <div class="cast">
            <!-- Cast Box 1 -->
            <div class="cast-box">
                <img src="play-page/cast1.jpg" alt="" class="cast-img">
                <span class="cast-title">Dwayne Johnson</span>
            </div>
            <!-- Cast Box 2 -->
            <div class="cast-box">
                <img src="play-page/cast2.jpg" alt="" class="cast-img">
                <span class="cast-title">Karen Gillan</span>
            </div>
            <!-- Cast Box 3 -->
            <div class="cast-box">
                <img src="play-page/cast3.jpg" alt="" class="cast-img">
                <span class="cast-title">Kevin Hart</span>
            </div>
            <!-- Cast Box 4 -->
            <div class="cast-box">
                <img src="play-page/cast4.jpg" alt="" class="cast-img">
                <span class="cast-title">Jack Black</span>
            </div>
            <!-- Cast Box 5 -->
            <div class="cast-box">
                <img src="play-page/cast5.jpg" alt="" class="cast-img">
                <span class="cast-title">Nick Jonas</span>
            </div>
            <!-- Cast Box 6 -->
            <div class="cast-box">
                <img src="play-page/cast6.jpg" alt="" class="cast-img">
                <span class="cast-title">Madison Iseman</span>
            </div>
        </div>
        
        <div class="movie-preview">
        <div data-kinopoisk="@ViewData["id"]" id="kinobd"></div>
            <script src="https://kinobd.ru/js/player_.js"></script>
        </div>
        
    </div>
<!-- Link Swiper Files -->
    <script src="js/swiper-bundle.min.js"></script>
	<!-- Link to JS -->
	<script src="js/main.js"></script>
</body>
</html>